<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Navbar</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>

            <li class="nav-item">
                <div class="dropdown">
                    <a href="#" class="a dropdown-toggle nav-link" data-toggle="dropdown">
                        <b class="fas fa-cog fa-spin"></b>Options
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a routerLink="requests">Edit account</a></li>
                        <li><a class="a dropdown-item" (click)="logout($event)">Logout</a></li>
                    </ul>
                </div>
            </li>

        </ul>
    </div>
</nav>
