<form class="form form-horizontal">

    <ul>
        <li *ngFor="let question of this.attempt.challenge.quiz.questions">

            <div class="form-group">
                <div class="col-sm-7">
                    <p type="text">{{question.text}}</p>
                </div>
            </div>

            <div *ngFor="let option of question.options" class="form-group">
                <div class="nopadding">
                    <div class="option-control-wide col-sm-7" (click)="selectOption(option, question)">
                        <label for="qOption" class="btn btn-default text-center">
                            <input type="radio" name="ignored" (click)="selectOption(option, question)"/>
                        </label>
                        <p type="text" class="nopadding option-control-text" id="qOption">
                            {{option.text}}
                        </p>
                    </div>
                </div>
            </div>

        </li>
    </ul>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-7">
            <button type="button" class="btn btn-primary btn-block" (click)="submitAttempt()">
                Submit Quiz
            </button>
        </div>
    </div>
</form>
